/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html{ 
    font-family: "Lucida Grande", sans-serif;
}


body{
     
     background-color: black;
     color: white

}
div{

    min-height: 100px;
    padding: 30px;
}



span, object, iframe,
h1{
    font-size: 64px;
    text-align:center;
}
h2{
      font-size: 32px;
      box-shadow: 4px,4px,2px,black;
}
#red{
    background-color: red;
    text-align: right;
}
 #blue{

    background-color: blue;
    text-align: left;
 }
 #yellow{
    background-color: yellow;
    text-align: right;
 } 

 #yellow h2 {
     color: black;
     text-shadow: 4px 4px 2px grey;  
 }
 
 #yellow p {

    color: black
}



 #green{
    background-color: green;
    text-align: left;
 } 
 
 
 p{
      font-size: 16px;
      padding-top: 15px;      

}

blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:550px;

} 
ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer{
   
      text-align: center;
      padding-bottom: 15px;

}

 header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: "Lucida Grande", sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}